.sortable li {
    list-style-type: none;
    padding: 10px;
    margin: 5px 0;
    cursor: move;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #EEEEEE;

}

.sortable li span {
    font-size: large;
    margin-left: 10px;
}

.save_flash {
    position: fixed;
    color: white;
    top: 40px;
    left: 40px;
    font-size: larger;
    font-weight: bold;
    background-color: #72afd2;
    padding: 20px;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.09);
    z-index: 1000;
}

.hint-block {
    margin: 10px 0 0 10px;
    font-style: italic;
    font-size: larger;
    color: #00ad9c;
}

.integratedCheckboxList {
    margin: 0 0 10px 15px;
}

.integratedCheckboxList label {
    margin: 0 0 3px 10px;
}

.subtext {
    font-size: smaller;
}

.navbar-brand b {
    color: #000;
}

.navbar-brand {
    color: #111111;

}

.navbar-brand:hover {
    color: green;
}

.product_image {
    margin: 20px;
    text-align: left;
}

.db-monitoring-index table td, .db-monitoring-index table th {
    border: 1px solid #dddddd;
    padding: 10px;
}

fieldset {
    margin: 10px 0;
    padding: 15px 10px 2px 15px;
    border: 1px solid #EEEEEE;
}

.inactiveRow td, .inactiveRow {
    background-color: #efeeee !important;
    color: #777777;
    font-style: italic;
}

.yellowRow td, .yellowRow {
    background-color: yellow !important;
    color: #555555;
}

.redRow td, .redRow {
    background-color: lightcoral !important;
    color: white;
}

.inactiveLegendInformation {
    height: 14px;
    width: 30px;
    background-color: #efeeee;
    float: left;
    margin: 3px 10px;
}

.yellowLegendInformation {
    height: 14px;
    width: 30px;
    background-color: yellow;
    float: left;
    margin: 3px 10px;
}

.redLegendInformation {
    height: 14px;
    width: 30px;
    background-color: lightcoral;
    float: left;
    margin: 3px 10px;
}

.inactiveCheckbox {
    /*border: 1px solid red;*/
    color: #d3d3d3;
    font-style: italic;
}

.new_relic_container iframe {
    padding: 10px;
}

.flashMessage {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: larger;
}

.background-success {
    color: #4fae3d;
}

.background-error {
    color: #c94753;
}

.seo_related_input_fields {
    padding: 10px;
    margin: 20px 10px 5px 10px;
}

.pathfinderCounts {
    font-size: 20px;
    list-style-type: none;
}

.pathfinderCounts li {
    float: left;
    margin-right: 30px;
}

.button-area a, .button-area input {
    margin: 1px;
}

.pathfinderCounts span:last-child {
    font-weight: bold;
}

.pathfinder-monitoring-container span {
    float: left;
}

ul.auth-clients {
    padding: 0;
}

.pathfinder-monitoring-container .google-table {
    margin: 20px !important;
}

.droppable {
    border: 10px dashed #ccc;
    width: 270px;
    min-height: 270px;
    height: 300px;
    margin: 20px 10px;
    float: left;
}

.dz-drag-hover {
    border: 10px dashed #0c0;
}

.droppable img {
    display: block;
    margin: 10px auto;
}

.droppable p {
    margin: 10px;
    font-size: 14px;
}

.dz-preview {
    position: relative;
}

.dz-filename, .dz-size {
    display: none;
}

.dz-remove {
    position: absolute;
    top: -23px;
    right: 11px;
    font-size: 22px;
}

.dz-remove .glyphicon-remove {
    background: white;
    border: solid 2px black;
    border-radius: 15px;
    padding: 2px;
    position: absolute;
}


progress {
    width: 100%;
}

progress:after {
    content: '%';
}

.fail {
    background: #c00;
    padding: 2px;
    color: #fff;
}

.hidden {
    display: none !important;
}

.droppable img {
    max-width: 250px;
    max-height: 250px;
}

.dropzone-images .ui-sortable-handle {
    cursor: move;
}

/* the little red notification badges after some navigation elements, usually showing a number */
.notification-badge {
    padding: 3px 4px 3px 4px;
    text-align: center;
    border-radius: 5px;
    color: white;
}

.notification-badge.red {
    background-color: brown;
}

.notification-badge.orange {
    background-color: orange;
}

.notification-badge.green {
    background-color: green;
}

.notification-badge.blue {
    background-color: dodgerblue;
}

.cautionArea {
    padding: 10px;
    background-color: lightcoral;
}

.hint-block {
    margin: 0 0 0 10px;
    color: #1db60c;
}

.unsubmitted td, .unsubmitted {
    background-color: lightyellow !important;
    color: darkslategray;
    font-weight: bold;
}

.breadcrumb {
    background-color: transparent;
    padding: 0 5px;
}

h1 {
    display: none;
}

.container {
    width: auto;
    margin: auto 30px;
}

.navbar-container {
    width: auto;
    margin: auto 30px;
}

table {
    font-size: 12px;
}

table input {
    border-radius: 0 !important;
}

.content-search-field {
    width: 90%;
    height: 45px;
    font-size: x-large;
    padding: 0 10px;
    margin: 0 10px 0 0;
}

.mass-resubmit-input {
    margin: 10px 0;
    width: 50%;
    height: 600px;
}

#detailsHeadline,
#detailsHeadlineImages,
#detailsHeadlineDesc,
#detailsHeadlineFrontendText,
#detailsHeadlineSEO,
#detailsHeadlineSEOImages,
#detailsHeadlineSimSettings{
    margin-bottom: 10px;
}

#detailsHeadline:hover,
#detailsHeadlineImages:hover,
#detailsHeadlineDesc:hover,
#detailsHeadlineFrontendText:hover,
#detailsHeadlineSEO:hover,
#detailsHeadlineSEOImages:hover,
#detailsHeadlineSimSettings:hover{
    cursor: pointer;
}

/*#detailsField,*/
#detailsFieldImages,
/*#detailsFieldDesc,*/
#detailsFieldFrontendText,
/*#detailsFieldSEO,*/
#detailsFieldSEOImages{
    display: none;
    border: 1px dotted lightgrey;
    padding: 10px;
    margin-bottom: 10px;
}

html,body {
    height: 100%;
}

.container, .monitoring-overview, .monitoring-overview > div {
    height: 96%;
}

.monitoring-overview {
    height: 100%;
}

.monitoring-overview iframe  {
    width: 100%;
    height: 33%;
    margin-right: 10px;
    margin-top: 10px;
}

.monitoring-overview iframe.error-rate-ch  {
    width: 50%;
    margin-right: 0px;
    float: left;
}

.monitoring-overview div.active-users-ch {
    width: 50%;
    display: inline-block;
    float: left;
}

.monitoring-overview div:first-child  {
    margin-top: 0px;
}

.monitoring-overview div.active-users {
    text-align: center;
    font-size: 1400%;
    font-family: arial, sans-serif;
}

.monitoring-overview > div:last-child {
    border-left: solid 2px #555;
}


