<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Kontaktdaten:
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Vorname:
        </td>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ form.firstname }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Nachname:
        </td>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ form.lastname }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Straße:
        </td>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ form.street ~ ' ' ~ form.number }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Ort:
        </td>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ form.zip ~ ' ' ~ form.place }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Geburtsdatum:
        </td>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ form.birthday }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Telefon:
        </td>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ form.tel }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Email:
        </td>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ form.email }}
        </td>
    </tr>
</table>
