<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 800; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Digital TV:
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Aufnahmedauer:
        </td>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ form.tv }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 800; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left"></td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 800; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Internet:
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Nutzung für:
        </td>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ form.internet }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 800; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left"></td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 800; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Festnetz:
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Nutzungshäufigkeit:
        </td>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ form.land_line }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 800; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left"></td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 800; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Mobile:
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Optimierungsvorschlag gewünscht?
        </td>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ form.mobile }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 800; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left"></td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 800; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Laufende Abonnemente:
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Digital TV:
        </td>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ form.tv_provider ?? 'Nein' }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Internet:
        </td>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ form.internet_provider ?? 'Nein' }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Festnetz:
        </td>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ form.land_line_provider ?? 'Nein' }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Kombi-Paket:
        </td>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ form.kombi_provider ?? 'Nein' }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Keine:
        </td>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ form.provider == 'Keine' ? 'Ja' : 'Nein' }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 800; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left"></td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 800; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Bemerkungen:
        </td>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ form.remarks }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 800; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left"></td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 800; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            Gewünschte Kontaktaufnahme:
        </td>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ form.get_in_touch_type }}, Shop: {{ form.shop }}
        </td>
    </tr>
</table>
