{{ 'Contract_Confirmation_Title'|trans('homer') }}

Digital TV:
Aufnahmedauer: {{ form.tv }}

Internet:
Nutzung für: {{ form.internet }}

Festnetz:
Nutzungshäufigkeit: {{ form.land_line }}

Mobile:
Optimierungsvorschlag gewünscht?: {{ form.mobile }}

Laufende Abonnemente:
Digital TV: {{ form.tv_provider ?? 'Nein' }}
Internet: {{ form.internet_provider ?? 'Nein' }}
Festnetz: {{ form.land_line_provider ?? 'Nein' }}
Kombi-Paket: {{ form.kombi_provider ?? 'Nein' }}
Keine: {{ form.provider == 'Keine' ? 'Ja' : 'Nein' }}

Bemerkungen:
{{ form.remarks }}

Gewünschte Kontaktaufnahme:
{{ form.get_in_touch_type }}, Shop: {{ form.shop }}

Kontaktdaten:
Vorname: {{ form.firstname }}
Nachname: {{ form.lastname }}
Straße: {{ form.street ~ ' ' ~ form.number }}
Ort: {{ form.zip ~ ' ' ~ form.place }}
Geburtsdatum: {{ form.birthday }}
Telefon: {{ form.tel }}
Email: {{ form.email }}
