{% extends "@homer/layouts/base.twig" %}

{% block content %}
    <tr>
        <td  align="center" bgcolor="#efefef" valign="top">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="center" bgcolor="#ffffff" valign="top">
                        <!--[if (gte mso 9)|(IE)]>

                        <table align="center" border="0" cellspacing="0" cellpadding="0" width="700">
                            <tr>
                                <td align="left" valign="top" width="600">
                        <![endif]-->

                        <table style="max-width: 630px; padding-left:15px; padding-right:15px;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center" valign="top">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="95%">
                                        <tr>
                                            <td style="font-size: 50px; line-height: 50px;" height="50" valign="top"></td>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td style="font-size: 24px; color: #ec0c0c; font-weight: 600; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
                                                            {{ 'Offered_Title'|trans('homer') }}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 25px; line-height: 25px;" height="25" valign="top"></td>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                                            {{ 'Salutation'|trans('homer') }} {{ billingAddress.getSexLabel() }} {{ billingAddress.lastname }},
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 10px; line-height: 10px;" height="10" valign="top"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                                            {{ 'Offered_Text_With_Link'|trans('homer', {offer_link: offer_link}) }}<br>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 10px; line-height: 10px;" height="10" valign="top"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 30px; line-height: 30px;" height="30" valign="top"></td>
                                        </tr>

                                        {% block footer %}
                                            {% include "@homer/layouts/footer/service.twig" %}
                                        {% endblock %}
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
