{% extends '@homer/layouts/contract-box-card.twig' %}

{% block header %}
    {% if order_has_tariff %}
        {{ 'Billing_Contract_Address'|trans('checkout') }}
    {% else %}
        {{ 'Contract_Address'|trans('checkout') }}
    {% endif %}
{% endblock %}

{% block body %}
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 600; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
            {{ billing_address.firstname }} {{ billing_address.lastname }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
            {{ billing_address.street }} {{ billing_address.house_number }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
            {{ billing_address.zip }} {{ billing_address.city }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 10px; line-height: 10px;" height="10" valign="top"></td>
    </tr>
    {% if order_has_tariff %}
        <tr>
            <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="font-size: 14px; color: #000; font-weight: 600; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
                            {{ 'Birthday'|trans('checkout') }}:
                        </td>
                        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
                            {{ customer.birthday|date('d.m.Y') }}
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px; color: #000; font-weight: 600; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                            {{ 'Nationality'|trans('checkout') }}:
                        </td>
                        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
                            {{ customer.nationality }}
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px; color: #000; font-weight: 600; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
                            {{ 'Passport_Type'|trans('checkout') }}:
                        </td>
                        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                            {{ constant('common\\models\\PassportTypeInterface::ALL')[customer.passport_type]|trans('app') }}
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px; color: #000; font-weight: 600; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
                            {{ 'Passport_Number'|trans('checkout') }}:
                        </td>
                        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                            {{ customer.passport_id }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    {% endif %}
{% endblock %}






