{% extends '@homer/layouts/contract-box-card.twig' %}

{% block header %}{{ 'Type_Of_Delivery'|trans('checkout') }}{% endblock %}

{% block body %}
    {#{% set customerDetails = customer.defaultAddress %}#}

    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 600; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
            {% if order_has_tariff %}
                {{ 'Delivery_Title_Tariff'|trans('checkout') }}
            {% else %}
                {{ 'Delivery_Title'|trans('checkout') }}
            {% endif %}

        </td>
    </tr>
    <tr>
        <td style="font-size: 10px; line-height: 10px;" height="10" valign="top"></td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
            {% if order_has_tariff %}
                {{ 'Delivery_Description_Tariff'|trans('checkout') }}
            {% else %}
                {{ 'Delivery_Description'|trans('checkout') }}
            {% endif %}
        </td>
    </tr>
{% endblock %}
