{% extends '@homer/layouts/contract-box-card.twig' %}

{% block header %}{{ 'Delivery_Address'|trans('checkout') }}{% endblock %}

{% block body %}
    {#{% set delivery_address = customer.usedelivery_address ? customer.delivery_address : customer.defaultAddress %}#}

    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 600; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
            {{ delivery_address.firstname }} {{ delivery_address.lastname }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
            {{ delivery_address.street }} {{ delivery_address.house_number }}
          </td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
            {{ delivery_address.zip }} {{ delivery_address.city }}
        </td>
    </tr>

{% endblock %}
