{% extends "@homer/layouts/base.twig" %}

{% block content %}
    <tr>
        <td  align="center" bgcolor="#efefef" valign="top">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="center" bgcolor="#ffffff" valign="top">
                        <!--[if (gte mso 9)|(IE)]>

                        <table align="center" border="0" cellspacing="0" cellpadding="0" width="700">
                            <tr>
                                <td align="left" valign="top" width="600">
                        <![endif]-->

                        <table style="max-width: 630px;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center" valign="top">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="95%">
                                        <tr>
                                            <td style="font-size: 50px; line-height: 50px;" height="50" valign="top"></td>
                                        </tr>
                                        {% block headline %}
                                            <tr>
                                                <td valign="top">
                                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td style="font-size: 24px; color: #ec0c0c; font-weight: 600; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
                                                                {{ 'Success_Title'|trans('checkout') }}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        {% endblock headline %}
                                        <tr>
                                            <td style="font-size: 25px; line-height: 25px;" height="25" valign="top"></td>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td style="font-size: 14px; color: #000; font-weight: 600; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                                            {{ 'Salutation'|trans('mail') }} {{ gender_title }} {{ billing_address.lastname }},
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 10px; line-height: 10px;" height="10" valign="top"></td>
                                                    </tr>
                                                    {% block intro %}
                                                        <tr>
                                                            <td style="font-size: 14px; color: #000; font-weight: 600; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                                                {{ 'Order_Received'|trans('mail') }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 10px; line-height: 10px;" height="10" valign="top"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                                                {{ 'Success_Order_Nr'|trans('checkout') }}: {{ order.id }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                                                {{ 'Your_Email_Address'|trans('checkout') }}: {{ customer.email }}
                                                            </td>
                                                        </tr>
                                                    {% endblock %}
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 30px; line-height: 30px;" height="30" valign="top"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td align="center" bgcolor="#ffffff" valign="top">
                        <!--[if (gte mso 9)|(IE)]>
                        <table align="center" border="0" cellspacing="0" cellpadding="0" width="700">
                            <tr>
                                <td align="left" valign="top" width="600">
                        <![endif]-->


                        <table style="max-width: 630px;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">

                            {% block payment %}
                                <tr>
                                    <td align="center" valign="top">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0"  width="95%">
                                            <tr>
                                                {% include '@homer/orderConfirmation/payment.twig' %}
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="font-size: 50px; line-height: 50px;" height="50" valign="top"></td>
                                </tr>
                            {% endblock payment %}


                            {% block billing %}
                                <tr>
                                    <td align="center" valign="top">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0"  width="95%">
                                            <tr>
                                                {% include '@homer/orderConfirmation/billing.twig' %}
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="font-size: 50px; line-height: 50px;" height="50" valign="top"></td>
                                </tr>
                            {% endblock billing %}


                            {% block delivery_type %}
                                <tr>
                                    <td align="center" valign="top">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0"  width="95%">
                                            <tr>
                                                {% include '@homer/orderConfirmation/delivery-type.twig' %}
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="font-size: 50px; line-height: 50px;" height="50" valign="top"></td>
                                </tr>
                            {% endblock delivery_type %}


                            <tr>
                                <td align="center" valign="top">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0"  width="95%">
                                        {% block order_details %}
                                            <tr>
                                                {% include '@homer/orderConfirmation/delivery-address.twig' %}
                                            </tr>

                                            <tr>
                                                <td style="font-size: 50px; line-height: 50px;" height="50" valign="top"></td>
                                            </tr>

                                            <tr>
                                                <td style="font-size: 18px; color: #000; font-weight: 600; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                                    {{ 'Ordered_Articles'|trans('checkout') }}
                                                </td>
                                            </tr>
                                            <tr>
                                                {% include '@homer/orderConfirmation/order.twig' %}
                                            </tr>
                                        {% endblock order_details %}

                                        {% block footer %}
                                            {% include "@homer/layouts/footer/service.twig" %}
                                        {% endblock %}
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
