{% set th_style = 'font-size: 14px; color: #000; font-weight: 600; font-family: \'Droid Sans\', sans-serif; line-height: 22px; padding-top: 10px; padding-bottom: 10px;' %}
{% set td_style = 'font-size: 14px; color: #000; font-weight: 400; font-family: \'Droid Sans\', sans-serif; line-height: 22px; padding-top: 10px; padding-bottom: 10px;' %}
{% set tf_style = 'font-size: 14px; color: #000; font-weight: 600; font-family: \'Droid Sans\', sans-serif; line-height: 22px; padding-top: 10px; padding-bottom: 10px; background-color: #eee;' %}

<td valign="top" style="border: 1px solid #ccc; border-top: 5px solid #ec0c0c;">
    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="{{ th_style }}" align="center">{{ 'Article_Nr'|trans('checkout') }}</th>
                <th style="{{ th_style }}" align="left">{{ 'Article_Name'|trans('checkout') }}</th>
                <th style="{{ th_style }}" align="center">{{ 'Price_Monthly'|trans('customer-account') }}</th>
                <th style="{{ th_style }}" align="center">{{ 'Price_Once'|trans('customer-account') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for article in order.items %}
                <tr>
                    <td style="{{ td_style }}" align="center">{{ article.item_id }}</td>
                    <td style="{{ td_style }}" align="left">{{ article.title }}</td>
                    <td style="{{ td_style }}" align="center">{{ article.price_monthly|price }}</td>
                    <td style="{{ td_style }}" align="center">{{ article.price_once|price }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2" style="font-size: 14px; background-color: #eee; color: #000; font-weight: 400; font-family: 'Droid Sans', sans-serif; line-height: 22px; padding-left: 20px;padding-top: 10px; padding-bottom: 10px;" align="left">{{ 'Total_Costs'|trans('checkout') }}:</td>
            <td style="{{ tf_style }}" align="center">{{ order.price_monthly|price }}</td>
            <td style="{{ tf_style }}" align="center">{{ order.price_once|price }}</td>
        </tr>
        </tfoot>
    </table>
</td>
