{% extends '@homer/layouts/contract-box-card.twig' %}

{% block header %}{{'Type_Of_Payment'|trans('checkout')}}{% endblock %}

{% block body %}
    {#Use payment method strings as translation keys#}
    {% set payment_title = 'payment-'~order.payment_method~'-title' %}
    {% set payment_description = 'payment-'~order.payment_method~'-description {amount}' %}

    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 600; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
            {{ payment_title|trans('checkout') }}
        </td>
    </tr>
    <tr>
        <td style="font-size: 10px; line-height: 10px;" height="10" valign="top"></td>
    </tr>
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
            {{ payment_description|trans('checkout', {amount: order.price_once|price, order_id: order.id})|nl2br }}
        </td>
    </tr>
{% endblock %}
