{% set payment_title = 'payment-'~order.payment_method~'-title' %}
{% set payment_description = 'payment-'~order.payment_method~'-description {amount}' %}

{% block headline -%}
{{ 'Success_Title'|trans('checkout') }}
{%- endblock headline %}

{{ 'Salutation'|trans('mail') }} {{ gender_title }} {{ billing_address.lastname }},

{% block intro -%}
{{ 'Order_Received'|trans('mail') }}

{{ 'Success_Order_Nr'|trans('checkout') }}: {{ order.id }}
{{ 'Your_Email_Address'|trans('checkout') }}: {{ customer.email }}
{%- endblock intro %}

{% block payment -%}
{{'Type_Of_Payment'|trans('checkout')}}
{{ payment_title|trans('checkout') }}
{{ payment_description|trans('checkout', {amount: order.price_once|price, order_id: order.id}) }}
{%- endblock payment %}


{% block billing -%}
{% if order_has_tariff %}
{{ 'Billing_Contract_Address'|trans('checkout') }}
{% else %}
{{ 'Contract_Address'|trans('checkout') }}
{% endif %}
{{ billing_address.firstname }} {{ billing_address.lastname }}
{{ billing_address.street }} {{ billing_address.house_number }}
{{ billing_address.zip }} {{ billing_address.city }}

{{ 'Birthday'|trans('checkout') }}: {{ customer.birthday|date('d.m.Y') }}
{{ 'Nationality'|trans('checkout') }}: {{ customer.nationality }}
{{ 'Passport_Type'|trans('checkout') }}: {{ customer.passport_type }}
{{ 'Passport_Number'|trans('checkout') }}: {{ customer.passport_id }}
{%- endblock billing %}


{% block delivery_type -%}
{{ 'Type_Of_Delivery'|trans('checkout') }}{
{% if order_has_tariff %}
{{ 'Delivery_Title_Tariff'|trans('checkout') }}
{{ 'Delivery_Description_Tariff'|trans('checkout') }}
{% else %}
{{ 'Delivery_Title'|trans('checkout') }}
{{ 'Delivery_Description'|trans('checkout') }}
{% endif %}
{%- endblock delivery_type %}


{% block order_details -%}
{{ 'Delivery_Address'|trans('checkout') }}
{{ delivery_address.firstname }} {{ delivery_address.lastname }}
{{ delivery_address.street }} {{ delivery_address.house_number }}
{{ delivery_address.zip }} {{ delivery_address.city }}


{{ 'Ordered_Articles'|trans('homer') }}
{{ 'Article_Nr'|trans('checkout') }}
{{ 'Article_Name'|trans('checkout') }}
{{ 'Price_Monthly'|trans('customer-account') }} CHF
{{ 'Price_Once'|trans('customer-account') }} CHF
{{ 'Total_Costs'|trans('checkout') }} CHF

{% for article in order.items %}
{{ article.item_id }}
{{ article.title }}
{{ article.prices.monthly|price }}
{{ article.prices.once|price }}

{% endfor %}

{{ 'Total_Costs'|trans('checkout') }}:
{{ order.price_monthly|price }}
{{ order.price_once|price }}
{%- endblock order_details -%}


{{ 'Service_Headline'|trans('homer') }}
{{ 'Service_Send_Mail'|trans('homer') }} {{ 'Mail_Address'|trans('homer') }} {{ 'Service_Call'|trans('homer') }} {{ 'Phone_Number'|trans('homer') }}

{{ 'Company_Name'|trans('homer') }}
{{ 'Company_Street'|trans('homer') }}
{{ 'Company_PLZ'|trans('homer') }} {{ 'Company_City'|trans('homer') }}
{{ 'Short_Tel'|trans('homer') }}: {{ 'Phone_Number'|trans('homer') }}
{{ 'Short_Fax'|trans('homer') }}: +41 43 388 77 90
{{ 'Short_Mail'|trans('homer') }}: {{ 'Mail_Address'|trans('homer') }}
{{ 'Web_Address'|trans('homer') }}
{{ 'Service_Ending'|trans('homer') }}
{{ 'Service_Greeting'|trans('homer') }}

{{ 'Service_DoNotReply'|trans('homer') }}
