{% extends "@homer/layouts/base.twig" %}

{% block content %}
    <tr>
        <td  align="center" bgcolor="#efefef" valign="top">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="center" bgcolor="#ffffff" valign="top">
                        <!--[if (gte mso 9)|(IE)]>

                        <table align="center" border="0" cellspacing="0" cellpadding="0" width="700">
                            <tr>
                                <td align="left" valign="top" width="600">
                        <![endif]-->

                        <table style="max-width: 630px; padding-left:15px; padding-right:15px;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="center" valign="top">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="95%">
                                        <tr>
                                            <td style="font-size: 50px; line-height: 50px;" height="50" valign="top"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 25px; line-height: 25px;" height="25" valign="top"></td>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td style="font-size: 14px; color: #000; font-weight: 600; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                                            {{ 'Salutation'|trans('mail') }} {{ renewal_request.getGenderLabel() }} {{ renewal_request.lastname }},
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 10px; line-height: 10px;" height="10" valign="top"></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                                            {{
                                                                'Contract_Renewal_Denied{phone_number} {provider_name}'|trans(
                                                                    'mail',
                                                                    {
                                                                        'phone_number': renewal_request.phone_number,
                                                                        'provider_name': renewal_request.provider.title
                                                                    }
                                                                )
                                                            }}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 30px; line-height: 30px;" height="30" valign="top"></td>
                                        </tr>
                                    </table>
                                    {% block footer %}
                                        {% include "@homer/layouts/footer/service.twig" %}
                                    {% endblock %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
