{{ 'Salutation'|trans('mail') }} {{ renewal_request.getGenderLabel() }} {{ renewal_request.lastname }},
{{
'Contract_Renewal_Denied{phone_number} {provider_name}'|trans(
'mail',
{
    'phone_number': renewal_request.phone_number,
    'provider_name': renewal_request.provider.title
}
)
}}
