<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

    <title>Vertragsverlängerung</title>

    <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Droid+Sans);

        /* Reset Styles */
        .ReadMsgBody { width: 100%; background-color: #ffffff; }
        .ExternalClass { width: 100%; background-color: #ffffff; }
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }
        #outlook a { padding: 0; }
        .yshortcuts, .yshortcuts a, .yshortcuts a:link, .yshortcuts a:visited, .yshortcuts a:hover, .yshortcuts a span { text-decoration: none !important; border-bottom: none !important; }

        /* CLIENT-SPECIFIC STYLES */
        body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
        table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
        img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; }
        table { border-collapse: collapse !important; }
        body { font-family: 'Roboto', sans-serif; height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important; }

        /* ANDROID CENTER FIX */
        div[style*="margin: 16px 0;"] { margin: 0 !important; }

        /* iOS BLUE LINKS */
        a[x-apple-data-detectors] { color: inherit !important; text-decoration: none !important; font-size: inherit !important; font-family: inherit !important; font-weight: inherit !important; line-height: inherit !important; }

    </style>
    <!--[if mso]>
    <style type="text/css">
        body, table, td, a, span {font-family: Arial, Helvetica, sans-serif !important;}
    </style>
    <![endif]-->
</head>

    <body style="margin:0 !important; padding:0 !important; background-color:#efefef;" bgcolor="#efefef">
        {{ this.beginBody }}
        <table style="max-width: 700px;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="font-size: 50px; line-height: 50px;" height="50" valign="top"></td>
            </tr>

            {% block preheader %}
                {% include "@homer/layouts/preheader.twig" %}
            {% endblock %}

            {% block header %}
                {% include "@homer/layouts/header/header.twig" %}
            {% endblock %}

            {% block content %}

            {% endblock %}

            {% block legalfooter %}
                {% include "@homer/layouts/footer/legal.twig" %}
            {% endblock %}

            <tr>
                <td style="font-size: 50px; line-height: 50px;" height="50" valign="top"></td>
            </tr>

        </table>
        {{ this.endBody }}
    </body>
</html>
