{% set header %}{% block header %}{% endblock %}{% endset %}
{% set body %}{% block body %}{% endblock %}{% endset %}

<td valign="top" align="left" style="border: 1px solid #ccc; border-top: 5px solid #ec0c0c; padding-left:25px; padding-right:25px;">
    <table align="left" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td style="font-size: 25px; line-height: 25px;" height="25" valign="top"></td>
        </tr>
        <tr>
            <td valign="top">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                    {% if body|length > 0 %}
                        {% if header|length > 0 %}
                            <tr>
                                <td style="font-size: 18px; color: #000; font-weight: 600; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                    {{header}}:
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 15px; line-height: 15px;" height="15" valign="top"></td>
                            </tr>
                        {% endif %}

                        {{ body }}
                    {% endif %}
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size: 25px; line-height: 25px;" height="25" valign="top"></td>
        </tr>
    </table>
</td>