{% set resetLink = url ~ '/customer-account/customer-account/reset-password?token=' ~ customer.password_reset_token %}
{{ t('mail_password_reset', 'Hallo') }} {{ customer.email }},

{{ t('mail_password_reset', 'follow_link_for_password_reset') }}

{{ resetLink }}