<tr>
    <td style="font-size: 50px; line-height: 50px;" height="50" valign="top"></td>
</tr>
<tr>
    <td valign="top" align="center">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="90%">
            <tr>
                <td style="font-size: 12px; font-family: 'Roboto', Arial, sans-serif; line-height: 18px; color: #000; font-weight: 300;" align="center">
                    {{ 'Service_DoNotReply'|trans('homer') }}
                </td>
            </tr>
            <tr>
                <td style="font-size: 10px; line-height: 10px;" height="10" valign="top"></td>
            </tr>
            <tr>
                <td style="font-size: 12px; font-family: 'Roboto', sans-serif; line-height: 22px; color: #000; font-weight: 300;" align="center">
                    {{ 'Company_Name'|trans('homer') }} | {{ 'Company_Street'|trans('homer') }} | {{ 'Company_PLZ'|trans('homer') }} {{ 'Company_City'|trans('homer') }}
                </td>
            </tr>
            <tr>
                <td style="font-size: 10px; line-height: 10px;" height="10" valign="top"></td>
            </tr>
            <tr>
                <td style="font-size: 12px; font-family: 'Roboto', sans-serif; line-height: 22px; color: #000; font-weight: 300;" align="center">
                    <a style="font-size: 12px; font-family: 'Roboto', sans-serif; line-height: 22px; color: #000; font-weight: 300;" href="mailto:{{ 'Mail_Address'|trans('homer') }}">{{ 'Mail_Address'|trans('homer') }}</a> |
                    <a style="font-size: 12px; font-family: 'Roboto', sans-serif; line-height: 22px; color: #000; font-weight: 300; text-decoration: none;" href="tel://{{ 'Phone_Number'|trans('homer') }}">{{ 'Phone_Number'|trans('homer') }}</a> |
                    <a style="font-size: 12px; font-family: 'Roboto', sans-serif; line-height: 22px; color: #000; font-weight: 300;" href="http://{{ 'Web_Address'|trans('homer') }}">{{ 'Web_Address'|trans('homer') }}</a>
                </td>
            </tr>
        </table>
    </td>
</tr>
