<tr>
    <td style="font-size: 50px; line-height: 50px;" height="50" valign="top"></td>
</tr>

<tr>
    <td valign="top">
        <table align="left" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top">
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="font-size: 16px; color: #000; font-weight: 600; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                {{ 'Service_Headline'|trans('homer') }}
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 20px; line-height: 20px;" height="20" valign="top"></td>
                        </tr>
                        <tr>
                            <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                {{ 'Service_Send_Mail'|trans('homer') }} <a style="font-size: 14px; color: #ec0c0c; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" href="mailto:{{ 'Mail_Address'|trans('homer') }}">{{ 'Mail_Address'|trans('homer') }}</a>
                                {{ 'Service_Call'|trans('homer') }} <a style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px; text-decoration: none;" href="tel://{{ 'Phone_Number'|trans('homer') }}">{{ 'Phone_Number'|trans('homer') }}</a>.
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 20px; line-height: 20px;" height="20" valign="top"></td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                            {{ 'Company_Name'|trans('homer') }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                            {{ 'Company_Street'|trans('homer') }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                            {{ 'Company_PLZ'|trans('homer') }} {{ 'Company_City'|trans('homer') }}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                            {{ 'Short_Tel'|trans('homer') }}:
                                        </td>
                                        <td>
                                            <a style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px; text-decoration: none;" href="tel://{{ 'Phone_Number'|trans('homer') }}">{{ 'Phone_Number'|trans('homer') }}</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                            {{ 'Short_Fax'|trans('homer') }}:
                                        </td>
                                        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                            <p style="margin-top: 0px;margin-bottom: 0px;">+41 43 388 77 90</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                            {{ 'Short_Mail'|trans('homer') }}:
                                        </td>
                                        <td>
                                            <a style="font-size: 14px; color: #ec0c0c; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" href="mailto:{{ 'Mail_Address'|trans('homer') }}">{{ 'Mail_Address'|trans('homer') }}</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 20px; line-height: 20px;" height="20" valign="top"></td>
                        </tr>
                        <tr>
                            <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                {{ 'Service_Ending'|trans('homer') }}
                                </td>
                        </tr>
                        <tr>
                            <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                {{ 'Service_Greeting'|trans('homer') }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-size: 25px; line-height: 25px;" height="25" valign="top"></td>
            </tr>
        </table>
    </td>
</tr>
