{{ 'Shipment_Title'|trans('homer') }}

{{ 'Salutation'|trans('homer') }} {{ billingAddress.getSexLabel() }} {{ billingAddress.lastname }},

{{ 'Shipment_Success'|trans('homer') }}
{{ tracking_url~tracking_id }}

{{ 'Shipment_Ranking'|trans('homer') }} www.toppreise.ch

{{ 'Service_Headline'|trans('homer') }}
{{ 'Service_Send_Mail'|trans('homer') }} {{ 'Mail_Address'|trans('homer') }} {{ 'Service_Call'|trans('homer') }} {{ 'Phone_Number'|trans('homer') }}

{{ 'Company_Name'|trans('homer') }}
{{ 'Company_Street'|trans('homer') }}
{{ 'Company_PLZ'|trans('homer') }} {{ 'Company_City'|trans('homer') }}
{{ 'Short_Tel'|trans('homer') }}: {{ 'Phone_Number'|trans('homer') }}
{{ 'Short_Fax'|trans('homer') }}: +41 43 388 77 90
{{ 'Short_Mail'|trans('homer') }}: {{ 'Mail_Address'|trans('homer') }}
{{ 'Web_Address'|trans('homer') }}
{{ 'Service_Ending'|trans('homer') }}
{{ 'Service_Greeting'|trans('homer') }}

{{ 'Service_DoNotReply'|trans('homer') }}
