{% extends "@homer/layouts/base.twig" %}

{% block content %}
<tr xmlns:margin-bottom="http://www.w3.org/1999/xhtml">
    <td  align="center" bgcolor="#efefef" valign="top">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td align="center" bgcolor="#ffffff" valign="top">
                <!--[if (gte mso 9)|(IE)]>
                <table align="center" border="0" cellspacing="0" cellpadding="0" width="700">
                <tr>
                <td align="left" valign="top" width="600">
                <![endif]-->
                    <table style="max-width: 630px; padding-left:15px; padding-right:15px;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="center" valign="top">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="95%">
                                    <tr>
                                        <td style="font-size: 50px; line-height: 50px;" height="50" valign="top"></td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td style="font-size: 14px; color: #000; font-weight: 600; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                                        {{ 'Salutation'|trans('mail') }} {{ renewal_request.getGenderLabel() }} {{ renewal_request.lastname }},
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size: 10px; line-height: 10px;" height="10" valign="top"></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
                                                        {{
                                                        'Contract_Renewal_Offer{phone_number} {provider_name} {valid_until_date}'|trans(
                                                        'mail',
                                                        {
                                                            'phone_number': renewal_request.phone_number,
                                                            'provider_name': renewal_request.provider.title,
                                                            'valid_until_date': renewal_request.valid_until_date,
                                                        })
                                                        }}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 30px; line-height: 30px;" height="30" valign="top"></td>
                                    </tr>
                                </table>
                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    {% for offer in renewal_request.renewalRequestOffers %}
                                    <tr>
                                        <td align="center" valign="top" style="font-size:0;" bgcolor="#ffffff">
                                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td style="font-size:0px; border-left:1px solid #f1f1f1; border-right:1px solid #f1f1f1; border-top: 3px solid #ff0000; padding: 25px 20px;" align="left" valign="top">
                                                    <!--[if (gte mso 9)|(IE)]>
                                                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
                                                    <tr>
                                                    <td align="left" valign="top" width="210">
                                                    <![endif]-->
                                                        <div style="display: inline-block; vertical-align: top; min-width: 33%;">
                                                            <table style="max-width: 210px;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tr>
                                                                    <td align="center" style="padding-bottom: 15px;">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tr>
                                                                                <td style="line-height:0px; padding-bottom: 15px; padding-right: 30px;" align="left"> 
                                                                                    <img style="margin-top: 15px; margin-left: 10px;" src="{{ offer.tariff.provider.image.setBlueprint('thumbnail') }}">
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size: 14px; color: #333333; font-weight: 700; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
                                                                                    {{ offer.tariff.title }}
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <!--[if (gte mso 9)|(IE)]>
                                                        </td>
                                                        <td width="10" style="font-size: 1px;">&nbsp;</td>
                                                        <td align="left" valign="top" width="235">
                                                        <![endif]-->
                                                        <div style="display: inline-block; vertical-align: top; min-width: 40%;">
                                                            <table style="max-width: 235px;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="center" valign="middle">
                                                                            <table align="right" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                <tr>
                                                                                    <td align="left" valign="top">
                                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="auto">
                                                                                            <tr>
                                                                                            {% for highlight in offer.tariff.highlights %}
                                                                                                <td style="font-size: 13px; color: #333333; font-weight: 400; font-family: 'Droid Sans', sans-serif; line-height: 16px; padding-right: 30px; padding-left: " align="left">
                                                                                                    &bull; {{ highlight.title }} <br />
                                                                                                    <span style="font-size: 11px;">{{ highlight.subtext }}</span>
                                                                                                </td>
                                                                                            {% endfor %}
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <!--[if (gte mso 9)|(IE)]>
                                                        </td>
                                                        <td width="10" style="font-size: 1px;">&nbsp;</td>
                                                        <td align="left" valign="top" width="155">
                                                        <![endif]-->
                                                        <div style="display: inline-block; vertical-align: top; min-width: 25%;">
                                                            <table style="max-width: 155px;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="center" valign="middle">
                                                                            <table align="right" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                <tr>
                                                                                    <td align="left" valign="top" width="28%">
                                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                            <tr>
                                                                                                <td style="font-size: 17px; color: #333333; font-weight: 400; font-family: 'Droid Sans', sans-serif; line-height: 28px;" align="left">
                                                                                                    {{ 'Contract_Renewal_Offer_Tariff_Monthly'|trans('mail') }}:<br />
                                                                                                    <span style="font-size: 24px; color: #ff0000;">CHF {{ offer.articleTariff.price_tariff_monthly }}</span>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <!--[if (gte mso 9)|(IE)]>
                                                        </td>
                                                        </tr>
                                                        </table>
                                                        <![endif]-->
                                                    </td>
                                                </tr>
                                            </table>
                                        </td> 
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top" style="font-size:0; padding-bottom: 30px;" bgcolor="#ffffff">
                                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td style="font-size:0px; background-color: #f1f1f1; padding: 0 20px;" align="left" valign="top">
                                                    <!--[if (gte mso 9)|(IE)]>
                                                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="600">
                                                    <tr>
                                                    <td align="left" valign="top" width="430">
                                                    <![endif]-->
                                                        <div style="display: inline-block; vertical-align: top; min-width: 69%;">
                                                            <table style="max-width: 430px;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tr>
                                                                    <td align="center" style="padding-top: 23px;">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tr>
                                                                                <td style="font-size: 14px; color: #333333; font-weight: 400; font-family: 'Droid Sans', sans-serif; line-height: 22px;" align="left">
                                                                                    {{ 'Contract_Renewal_Offer_Example_Device' |trans('mail') }} <span style="font-weight: 700;">{{ offer.article.product_name }}</span>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <!--[if (gte mso 9)|(IE)]>
                                                        </td>
                                                        <td width="10" style="font-size: 1px;">&nbsp;</td>
                                                        <td align="left" valign="top" width="170">
                                                        <![endif]-->
                                                        <div style="display: inline-block; vertical-align: top; min-width: 31%;">
                                                            <table align="center" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td align="center" style="padding: 15px 0;">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tr>
                                                                                <td align="center" bgcolor="#ff0000" style="display: block;">
                                                                                    <a href="{{ offer.getOfferLink() }}" title="{{ 'Contract_Renewal_Offer_Button_Text' | trans('mail') }}" target="_blank" style="font-size: 14px; font-family: 'Droid Sans', sans-serif; color: #ffffff; text-decoration: none; background-color: #ff0000; border: 1px solid #ff0000; display: inline-block; padding: 8px 45px;">
                                                                                      {{ 'Contract_Renewal_Offer_Button_Text' | trans('mail') }} &raquo;
                                                                                    </a> 
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <!--[if (gte mso 9)|(IE)]>
                                                        </td>
                                                        </tr>
                                                        </table>
                                                        <![endif]-->
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                {% block footer %}
                                    {% include "@homer/layouts/footer/service.twig" %}
                                {% endblock %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
{% endblock %}
