{{ 'Salutation'|trans('mail') }} {{ renewal_request.getGenderLabel() }} {{ renewal_request.lastname }},
{{
'Contract_Renewal_Offer{phone_number} {provider_name} {valid_until_date}'|trans(
'mail',
{
    'phone_number': renewal_request.phone_number,
    'provider_name': renewal_request.provider.title,
    'valid_until_date': renewal_request.valid_until_date,
})
}}

{% for offer in renewal_request.renewalRequestOffers %}
{{ offer.tariff.title }}
{% for highlight in offer.tariff.highlights %}
> {{ highlight.title }} | {{ highlight.subtext }}
{% endfor %}
{{ 'Contract_Renewal_Offer_Tariff_Monthly' |trans('mail') }} CHF {{ offer.articleTariff.price_tariff_monthly }}
{{ 'Contract_Renewal_Offer_Example_Device' |trans('mail') }} {{ offer.article.product_name }}
{{ 'Contract_Renewal_Offer_Button_Text' | trans('mail') }} -> {{ offer.getOfferLink(renewal_request.customer.language) }}"

{% endfor %}
