<b>Kontaktanfrage</b>

<br/><br/><br/>

<table style="width: 100%;">
    <tbody>
    <tr>
        <td style="width: 15%;">Betreff:</td>
        <td style="width: 85%;">{{ question }}</td>
    </tr>
    <tr>
        <td style="width: 15%;">Ihre Anfrage:</td>
        <td style="width: 85%;">{{ request }}</td>
    </tr>
    <tr>
        <td style="width: 15%;">Vorname:</td>
        <td style="width: 85%;">{{ firstname }}</td>
    </tr>
    <tr>
        <td style="width: 15%;">Nachname:</td>
        <td style="width: 85%;">{{ lastname }}</td>
    </tr>
    <tr>
        <td style="width: 15%;">Adresse:</td>
        <td style="width: 85%;">{{ street }} - {{ number }}</td>
    </tr>
    <tr>
        <td style="width: 15%;">PLZ:</td>
        <td style="width: 85%;">{{ zip }}</td>
    </tr>
    <tr>
        <td style="width: 15%;">Ort:</td>
        <td style="width: 85%;">{{ place }}</td>
    </tr>
    <tr>
        <td style="width: 15%;">Telefon:</td>
        <td style="width: 85%;">{{ tel }}</td>
    </tr>
    <tr>
        <td style="width: 15%;">E-Mail:</td>
        <td style="width: 85%;">{{ email }}</td>
    </tr>
    <tr>
        <td style="width: 15%;">Antworten mit:</td>
        <td style="width: 85%;">{{ answere }}</td>
    </tr>
    </tbody>
</table>
