<tr>
    <td align="center" bgcolor="#efefef" valign="top" style="background-color: #efefef;">
        <table style="max-width: 700px;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="border-bottom: 5px solid #f1f1f1;" align="center" bgcolor="#ffffff" valign="top">
                    <table style="max-width: 630px;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="font-size: 20px; line-height: 20px;" height="20" valign="top"></td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="95%">
                                    <tr>
                                        <td style="font-size:0px;" align="center" valign="top">
                                            <!--[if (gte mso 9)|(IE)]>
                                            <table align="center" border="0" cellspacing="0" cellpadding="0" width="660">
                                                <tr>
                                                    <td align="left" valign="top" width="168">
                                            <![endif]-->
                                            <div style="display:inline-block; max-width:28%; min-width:168px; vertical-align:top; width:100%;">
                                                {% block logo %}
                                                    {% include "@homer/layouts/header/logo.twig" %}
                                                {% endblock %}
                                            </div>
                                            <!--[if (gte mso 9)|(IE)]>
                                            </td>
                                            <td width="10" style="font-size: 1px;">&nbsp;</td>
                                            <td align="left" valign="top" width="290">
                                            <![endif]-->
                                            <div style="display:inline-block; max-width:10%; min-width:290px; vertical-align:top; width:100%;">
                                                <table style="max-width:10px;" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td style="padding-bottom: 15px; font-size: 5px; line-height: 5px;" align="center" height="5" valign="top"> </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <!--[if (gte mso 9)|(IE)]>
                                            </td>
                                            <td width="10" style="font-size: 1px;">&nbsp;</td>
                                            <td align="left" valign="top" width="140">
                                            <![endif]-->
                                            <div style="display:inline-block; max-width:23%; min-width:140px; vertical-align:top; width:100%;">
                                                <table style="max-width:140px; float: right;" align="right" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td style="padding-bottom: 15px;" align="right" valign="top">
                                                            {% block socialmedia %}
                                                                {% include "@homer/layouts/header/socialmedia.twig" %}
                                                            {% endblock %}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <!--[if (gte mso 9)|(IE)]>
                                            </td>
                                            </tr>
                                            </table>
                                            <![endif]-->
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>