<table style="max-width:168px;" align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding-bottom: 15px;" align="center" valign="top">
            <a href="https://www.mobilezone.ch/?bid=SFA"  target="_blank">
                <img src="https://01cd6fab2e4c6e0e2968-24e1476afccb82307b0a1f2ee1560761.ssl.cf3.rackcdn.com/201612/mobilezone_logo.png" alt="mobilezone.ch" style="display: block; border: 0px;" height="" width=""/>
            </a>
        </td>
    </tr>
</table>
