<table align="right" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding-left: 3px; padding-right: 3px;" align="center" valign="middle">
            <a href="https://www.facebook.com/mobilezone.ch/">
                <img src="https://01cd6fab2e4c6e0e2968-24e1476afccb82307b0a1f2ee1560761.ssl.cf3.rackcdn.com/201612/fb_icon.jpg" alt="Facebook Icon" style="display:block; line-height:0px; font-size:0px; border:0px;" width="28">
            </a>
        </td>
        <td style="padding-left: 3px; padding-right: 3px;" align="center" valign="middle">
            <a href="https://twitter.com/mobilezone">
                <img src="https://01cd6fab2e4c6e0e2968-24e1476afccb82307b0a1f2ee1560761.ssl.cf3.rackcdn.com/201612/twitter_icon.jpg" alt="Twitter Icon" style="display:block; line-height:0px; font-size:0px; border:0px;" width="28">
            </a>
        </td>
    </tr>
</table>
