{% extends "@homer/orderConfirmation/html.twig" %}


{% block intro %}
    <tr>
        <td style="font-size: 14px; color: #000; font-weight: 400; font-family: 'Roboto', sans-serif; line-height: 22px;" align="left">
            {{ 'Pre_Payment_Cancellation'|trans('checkout') }}
        </td>
    </tr>
{% endblock %}

{% block headline %}{% endblock headline %}
{% block payment %}{% endblock payment %}
{% block billing %}{% endblock billing %}
{% block delivery_type %}{% endblock delivery_type %}
{% block order_details %}{% endblock order_details %}
