{% extends "@homer/orderConfirmation/text.twig" %}


{% block intro %}
{{ 'Pre_Payment_Cancellation'|trans('checkout') }}
{% endblock %}

{% block headline %}{% endblock headline %}
{% block payment %}{% endblock payment %}
{% block billing %}{% endblock billing %}
{% block delivery_type %}{% endblock delivery_type %}
{% block order_details %}{% endblock order_details %}
